<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <clear />
    <add key="Common Lax" value="https://www.myget.org/F/commonlax/api/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Microsoft and DotNet" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
  </packageSources>
</configuration>