@page
@using Police.Web.Common.Infrastructure
@{
    this.UseLayout("Home");
}

@section Header {
    Police
}

@section Breadcrumbs {
    <li class="active">
        <i class="fa fa-home"></i>
    </li>
}

<vc:navigation for-home-page="true"></vc:navigation>